// globals
@import '../../../globals/colors.module.scss';

// Styles
.card {
    display: flex;
    flex-direction: column;
    background-color: $snow-white;
    font-family: 'Lato', sans-serif;
    padding: 0;
    gap: 0;

    &.wrapper {
        border-radius: 12px;
        min-width: 100%;
        width: 420px;
        padding: 2rem;
        gap: 1rem;
    }

    &.header {
        align-items: flex-start;
    }

    &.submit {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 3rem;
    }
}

.btn {
    border: none;
    border-radius: 2rem;
    min-width: 5rem;
    font-size: 1em;
    padding: 0.5rem;
    flex-grow: 1;
    cursor: pointer;
}

.logo {
    height: 6rem;
    margin-bottom: 1rem;
}
.columns {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
}

.frow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    align-self: center;
}

.higher {
    min-width: 100%;
    min-height: 120px;
}
