@import '../../../globals/colors.module';

.fcolumn {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.higher {
    min-width: 100%;
    min-height: 120px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: $snow-white;
    font-family: 'Lato', sans-serif;
    padding: 0;
    gap: 0;
}

