.root {
    max-width: 350px;
    min-height: 100%;
    padding: 2rem;
    gap: 1rem;
}

.frow {
    display: flex;
    justify-content: flex-start;
    gap: 0.25rem;
}
.rowi {
    max-width: 25%;
    text-align: center;
    direction: ltr;
}
