
.root {
    color: #c82a2a;
}


// space betwean items
.frow {
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.minw {
    min-width: 25%;
}