.App {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    padding: 4rem 1rem 0 1rem;
    gap: 3rem;
    min-width: 100%;
    min-height: 100vh;
    
    &.dark {
        background-color: #2f343c;
    }
}

.tab {
    display: flex;
    flex-direction: column;
}
